 body {
  height: 100%;
  width: 100%;
  padding:0;
  margin: 0;
  background-color: black;
  background-image: url(logo.png);
  background-repeat: no-repeat;
}
.blur {
	width:100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
}
#tourbutton{
     		
	  -webkit-border-radius: 10;
	  -moz-border-radius: 10;
	  border-radius: 10px;
	  text-shadow: 7px 0px 15px grey;
	  -webkit-box-shadow: 4px 4px 12px grey
	  -moz-box-shadow: 4px 4px 12px grey;
	  box-shadow: 4px 4px 12px grey;
	  font-family: Arial;
	  color: #ffffff;
	  font-size: 45px;
	  padding: 10px 20px 10px 20px;
	  text-decoration: none;
	  background-color: Transparent;
      background-repeat:no-repeat;
      position: relative;
}
#tourbutton:hover
{
filter:blur(2px);
 
 -webkit-filter:blur(2px);


}
#welcome{
	font:bold 40px tahoma;
	color:white;
}
#wrapper
{
	width:100%;
	height:100%;
	text-align: center;
	
	margin-top: 200px;
	height:100%;
	width:100%;
		  -webkit-border-radius: 20;
	  -moz-border-radius: 20;
	  border-radius: 20px;
}
	
img.blur { 
	
	-webkit-filter: blur(0px); 
	filter: blur(30px); 
	position:fixed;
}
.footer {
	width:100%;
	height:auto;
	position:fixed;
	bottom:0;
	left:0;
	padding-left:10px;
	background:rgb(0,0,0,2);
	text-align: left;
	color:white;
	border-top: solid white;
}
a:link{
	text-decoration: none;
	color: white;
}

/* visited link */
a:visited {
    color: white;
}
#logo{

	max-height: 168px;
	max-width: 500px;
	width:100%;
	height:168px
}







